body{
    background-size : cover;
}
.heading{
    font-size: 23px;
    margin: 0px;
    width: 100%;
}
.note{
    font-size: 15px;
    color: black;
}
.div_speed{
    float:left;
}
.div_speed_image, .div_volume_image{
    border-radius: 100px;
    width: 200px;
}
#speed,#volume{
    font-size: 23px;
    margin: 15px;
}
.div_volume{
    float: right;
}
.play_button{
    font-size: 23px;
    width: 130px;
}
canvas{
    border-radius: 20px;
    border: 5px solid white;
}